[Unit]
Description=JKSN Service
After=network.target

[Service]
Type=notify
ExecStart=/usr/bin/JKSN
WorkingDirectory=/usr/bin
Restart=always
RestartSec=5
User=jksn
Group=jksn

[Install]
WantedBy=multi-user.target